# Tensorflow & keras (CPU-only, here)
tensorflow==1.14.0
keras==2.2.4
numpy==1.14.5
setuptools==41.0.0

segmentation-models


opencv-python
scikit-image==0.15.0

tornado # required by matplotlib backend 'backend_webagg' (others either fail on Linux or behave unstably when saving without displaying)
matplotlib

# Flask Framework
flask

# Gunicorn Application Server
gunicorn